.pcts .pre-footer {
  margin: 0;
  width: 100%;
}

.pcts .pre-footer-img {
  height: 400px;
  width: 100%;
  background: url(/img/pcts-footer-mobile.png) no-repeat center center/cover;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .pcts .pre-footer-img {
    background: url(/img/pcts-footer-tablet.png) no-repeat center center/cover;
  }
}

@media screen and (min-width: 1024px) {
  .pcts .pre-footer-img {
    background: url(/img/pcts-footer-desktop.png) no-repeat center center/cover;
    height: 600px;
  }
}
