@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;

  --background-primary-color: #ffffff;
  --background-secondary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}

/* 1. Reset básico de margens e preenchimentos */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Melhoria na legibilidade do texto */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 3. Ajuste para imagens e mídias */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 4. Reset de campos de formulário */
input,
button,
textarea,
select {
  font: inherit;
}

/* 5. Evita que textos longos estourem o container */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
